data/semeval_2018_task7
data/ace*
data/docred
log.txt
*.pyc
sftp-config.json
tmp.txt
log*
note.txt
note_semeval.txt
analyze_res/*/*.txt
analyze_res/*/*.json
analyze_res/*/*/*.json
analyze_res/*/*/*.txt
bake/*
